html, body {
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100%;
}

body {
    padding: 5% 15% 10px 15%;
    margin: 0%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.heading-wrapper {
    display: flex;
}

.heading {
    font-family: 'PT Serif';
    font-weight: bold;
    font-size: 36px;
    width: 50%;
}

.subtext-container {
    padding-left: 15%;
    width: 50%;
}

.subtext-title {
    display: block;
    font-family: Poppins;
    font-weight: 600;
    line-height: 23px;
}

.subtext-description {
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 23px;
}

.teams-data {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.team-member {
    width: 20%;
    height: auto;
    padding: 0px 52px 52px 52px;
    position: relative;
}

.team-member:nth-child(3n+2) {
    padding-top: 52px !important;
    padding-bottom: 0px !important;
}

.team-member img {
    max-width: 100%;
    max-height: 100%;
}

.name {
    font-family: Poppins;
    font-weight: 600;
}

.designation {
    font-family: 'PT Serif';
    font-size: 13px;
    position: absolute;
    top: 35px;
    right: -5px;
    transform: rotate(90deg);
}

.team-member:nth-child(3n+2)>.designation {
    top: 85px !important;
}

.footer {
    font-family: Montserrat;
    font-size: 13px;
    color: #BDBDBD;
    text-align: center;
}