html, body {
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100%;
}

body {
    padding: 5% 15% 10px 15%;
    margin: 0%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.heading-wrapper {
    display: flex;
}

.heading {
    font-family: 'PT Serif';
    font-weight: bold;
    font-size: 36px;
    width: 50%;
}

.subtext-container {
    padding-left: 15%;
    width: 50%;
}

.subtext-title {
    display: block;
    font-family: Poppins;
    font-weight: 600;
    line-height: 23px;
}

.subtext-description {
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 23px;
}

.teams-data {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px;
}

.team-member {
    width: 20%;
    height: auto;
    padding: 0px 52px 52px 52px;
    position: relative;
}

.team-member img {
    max-width: 100%;
    max-height: 100%;
}

.name {
    font-family: Poppins;
    font-weight: 600;
}

.designation {
    font-family: 'PT Serif';
    font-size: 13px;
    position: absolute;
    top: 35px;
    right: -5px;
    transform: rotate(90deg);
}

.footer {
    font-family: Montserrat;
    font-size: 13px;
    color: #BDBDBD;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .team-member:nth-child(3n+2) {
        padding-top: 52px !important;
        padding-bottom: 0px !important;
    }
    .team-member:nth-child(3n+2)>.designation {
        top: 85px !important;
    }
}

@media only screen and (max-width: 600px) {
    body {
        padding: 50px 10px 5px 10px;
    }
    .heading-wrapper {
        flex-direction: column;
    }
    .heading {
        width: 100%;
    }
    .subtext-container {
        padding: 20px 0 0;
        width: 100%;
    }
    .team-member {
        width: 28%;
        height: auto;
        padding: 0px 35px 35px 35px;
        position: relative;
    }
    .name {
        font-size: 12px;
    }
    .designation {
        font-size: 11px;
        right: -8px;
        top: 30px;
    }
    .team-member:nth-child(even) {
        padding-top: 52px !important;
        padding-bottom: 0px !important;
    }
    .team-member:nth-child(even)>.designation {
        top: 85px !important;
    }
}